.search-form, .guardar
    margin-top 30px

.search-link
	margin-top 40px
	line-height 125%
	float left
	height 40px

#search
	width 230px
/*
    for responsive
*/
.search-form
    +below(650px)
        display none
