* {
  font-family: "Proxima Nova";
}
.app {
  max-width: 960px;
  margin: 0 auto;
}
.search-form,
.guardar {
  margin-top: 30px;
}
.search-link {
  margin-top: 40px;
  line-height: 125%;
  float: left;
  height: 40px;
}
#search {
  width: 230px;
}
@media only screen and (max-width: 650px) {
  .search-form {
    display: none;
  }
}
