.search-form
    .pure-form
        input#search.awesomplete(type='text', name='search', onkeypress='SearchItems(event, this)')
        input#btn.pure-button(type='submit', name="buscar", value='Buscar', disabled='true', onclick='searchForm()')
